templates/Backup Workflow Git.json
{
  "name": "0.0 - Backup Workflows",
  "nodes": [
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "binaryPropertyName": "=data.new",
        "options": {
          "fileName": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -576,
        320
      ],
      "id": "4068c430-c354-4532-8b43-c0a1c22e3240",
      "name": "Convert JSON to binary"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy/H:mm",
        "options": {}
      },
      "id": "25028e99-18d1-44c0-9a21-8aa1a6f8e684",
      "name": "Format date1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1104,
        416
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "RodLeite",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "name"
        },
        "filePath": "="
      },
      "id": "63bf18b2-0d6e-4456-8f40-a43b681eacf3",
      "name": "List files from repository [GITHUB]2",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        32,
        224
      ],
      "alwaysOutputData": true,
      "webhookId": "1e348112-b365-4c59-89af-4e73305df8c0",
      "credentials": {
        "githubOAuth2Api": {
          "id": "kFW8MOPJH8VSXBfm",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "40d296d5-5c37-4dcc-8c71-0f6bef69b3ab",
      "name": "Retrieve workflows [N8N]1",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -784,
        416
      ],
      "credentials": {
        "n8nApi": {
          "id": "dihcZSx3YitfgsqH",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $item(0).$node[\"Combine file names [GITHUB]1\"].json.name }}",
              "operation": "contains",
              "value2": "={{ $('Compare Datasets1').item.json.fileName }}"
            }
          ]
        }
      },
      "id": "170a15b8-200b-4aa1-8bd0-c3f980aea03d",
      "name": "Check if file exists in repository1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        224
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/RodLeite",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/RodLeite/n8n"
        },
        "filePath": "={{ $('Convert JSON to binary to GIT').item.binary['data.new'].fileName }}",
        "binaryData": true,
        "binaryPropertyName": "data.new",
        "commitMessage": "={{ \"backup-\" + $item(0).$node[\"Commit date1\"].json.commitDate }}"
      },
      "id": "c3412b80-dffd-47ae-81cb-ab9709ff1c0e",
      "name": "Upload file [GITHUB]1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1024,
        304
      ],
      "webhookId": "e27f708c-6dc6-4460-a06f-2a7a2da3a7ed",
      "credentials": {
        "githubOAuth2Api": {
          "id": "kFW8MOPJH8VSXBfm",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b04dee1-1b0f-450f-8c9b-faafe778a58b",
              "name": "commitDate",
              "value": "={{ $json.formattedDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        416
      ],
      "id": "c2c05ad9-1bba-48e0-b6cf-f102475ddc96",
      "name": "Commit date1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        224
      ],
      "id": "d36b3f41-6ded-498e-a76e-b1dacb0c2d8d",
      "name": "Combine file names [GITHUB]1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6152edf0-f3ca-48f2-acc4-21c7ca94b6c3",
              "name": "=fileName",
              "value": "={{ $binary['data.new'].fileName }}",
              "type": "string"
            },
            {
              "id": "8f9328c0-ea05-4a3d-b887-943102d219e8",
              "name": "workflowId",
              "value": "={{$('Retrieve workflows [N8N]1').item.json.id}}",
              "type": "string"
            },
            {
              "id": "ee918d44-b7d2-4769-83fd-a2789995ad60",
              "name": "base64",
              "value": "={{ $('Convert JSON to binary').item.binary['data.new'].data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        320
      ],
      "id": "597f0022-f19f-4ee6-9bd8-d0e492df0cc2",
      "name": "Format Data New"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6152edf0-f3ca-48f2-acc4-21c7ca94b6c3",
              "name": "=fileName",
              "value": "={{ $binary['data.old'].fileName }}",
              "type": "string"
            },
            {
              "id": "58d7c213-029b-4b65-a33a-da35622618de",
              "name": "workflowId",
              "value": "={{$('Get Binary Workflows GIT').item.json.id}}",
              "type": "string"
            },
            {
              "id": "ee918d44-b7d2-4769-83fd-a2789995ad60",
              "name": "base64",
              "value": "={{ $('Get Binary Workflows GIT').item.binary['data.old'].data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        496
      ],
      "id": "243113d4-ce79-467f-8d22-b6fe1c83745b",
      "name": "Format Data OLD"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "RodLeite",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/RodLeite/n8n"
        },
        "filePath": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json",
        "binaryPropertyName": "data.old",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -576,
        496
      ],
      "id": "56a94fc4-16db-4db8-ac2b-b96b0b40874f",
      "name": "Get Binary Workflows GIT",
      "webhookId": "108fb5f7-21bc-457b-93d5-2c8cfefb03b1",
      "credentials": {
        "githubOAuth2Api": {
          "id": "kFW8MOPJH8VSXBfm",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "base64",
              "field2": "base64"
            }
          ]
        },
        "options": {
          "skipFields": "workflowId"
        }
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        -192,
        384
      ],
      "id": "6c03eafa-e89f-4c2b-b443-0f71f2b26319",
      "name": "Compare Datasets1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1264,
        416
      ],
      "id": "f2edb909-c9fe-467b-b222-479e5e7877bd",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('Compare Datasets1').item.json.workflowId }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        384,
        224
      ],
      "id": "1567657d-8bf0-497b-9d97-f6c0edb8c564",
      "name": "Get Changed Workflows",
      "credentials": {
        "n8nApi": {
          "id": "dihcZSx3YitfgsqH",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "binaryPropertyName": "=data.new",
        "options": {
          "fileName": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        592,
        224
      ],
      "id": "91492791-4dd8-48aa-b34d-e243b40b79ff",
      "name": "Convert JSON to binary to GIT"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/RodLeite",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/RodLeite/n8n"
        },
        "filePath": "={{ $('Convert JSON to binary to GIT').item.binary['data.new'].fileName }}",
        "binaryData": true,
        "binaryPropertyName": "data.new",
        "commitMessage": "={{ \"backup-\" + $item(0).$node[\"Commit date1\"].json.commitDate }}"
      },
      "id": "33d34103-6f28-4b08-ac2e-f88c62fc5865",
      "name": "Update file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1024,
        128
      ],
      "webhookId": "7c158beb-049c-4ce6-90c6-cdc9c62cd8cc",
      "credentials": {
        "githubOAuth2Api": {
          "id": "kFW8MOPJH8VSXBfm",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        32,
        432
      ],
      "id": "3c2aabb9-66b6-420d-8a53-0e5b0578d367",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Convert JSON to binary": {
      "main": [
        [
          {
            "node": "Format Data New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format date1": {
      "main": [
        [
          {
            "node": "Commit date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repository [GITHUB]2": {
      "main": [
        [
          {
            "node": "Combine file names [GITHUB]1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows [N8N]1": {
      "main": [
        [
          {
            "node": "Convert JSON to binary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Binary Workflows GIT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists in repository1": {
      "main": [
        [
          {
            "node": "Update file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file [GITHUB]1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date1": {
      "main": [
        [
          {
            "node": "Retrieve workflows [N8N]1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine file names [GITHUB]1": {
      "main": [
        [
          {
            "node": "Get Changed Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data New": {
      "main": [
        [
          {
            "node": "Compare Datasets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data OLD": {
      "main": [
        [
          {
            "node": "Compare Datasets1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Binary Workflows GIT": {
      "main": [
        [
          {
            "node": "Format Data OLD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets1": {
      "main": [
        [
          {
            "node": "List files from repository [GITHUB]2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Format date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Changed Workflows": {
      "main": [
        [
          {
            "node": "Convert JSON to binary to GIT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert JSON to binary to GIT": {
      "main": [
        [
          {
            "node": "Check if file exists in repository1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "358fe807-6681-488e-9c8e-237be7acee50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "39cda8235d12b0582ad82a8aa421ee160e89850f9c5b07f206e0bb66eebf76c0"
  },
  "id": "80ixcZbGtAdOqy9O",
  "tags": []
}
